include templates/navbar.pug
div(class="col-md-8 contenedores")
  div(class="site-section courses-entry-wrap "  data-aos="fade-up" data-aos-delay="100")
    div(class="row")
      div(class="col-md-4 ")
        div(class="course bg-white h-100 align-self-stretch") 
          figure(class="m-0")
            a(href="#")
              img(src="img/juegos_olimpicos.jpg" height="20" alt="Image" class="img-fluid container-img")
      div(class="col-md-4 ")
          div(class="course bg-white h-100 align-self-stretch") 
            figure(class="m-0")
              a(href="#")
                img(src="img/juegos_olimpicos.jpg" height="20" alt="Image" class="img-fluid")
      div(class="col-md-4 ")
          div(class="course bg-white h-100 align-self-stretch") 
            figure(class="m-0")
              a(href="#")
                img(src="img/juegos_olimpicos.jpg" height="20" alt="Image" class="img-fluid")
include templates/footer.pug